@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");

:root {
  --blue: #3692ef;
  --bluee: #49a3ff;
  --blueee: #a6cff9;
  --dark: #3a4249;
  --dark-disabled: #acb1b6;
  --light: #f1f3f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 500vh;
}

.limiter {
  max-width: 2200px;
  margin: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-logo {
  width: 10rem;
  height: 2.5rem;
  background-image: url("./assets/img/lettering.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 630px) {
  #header-logo {
    width: 3rem;
    height: 3rem;
    background-image: url("./assets/img/1x1-logo.png");
    background-size: cover;
  }
}

#user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--dark);
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
}

#user:hover,
#cart:hover {
  background-color: var(--light);
}

#user img {
  width: 1.5rem;
  height: 1.5rem;
}

#cart {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1rem;
  background-image: url("./assets/icons/shopping-cart.svg");
  background-size: 1.5rem 1.5rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
